{% extends "manager/base_manager.php" %}
{% block content %}
    <div>
        <h2>Create New Order</h2>
        <form method="POST" action="{{ url_for('create_order') }}">
            <label for="id_product">Product:</label>
            <select name="id_product" id="id_product">
                {% for product in products %}
                <option value="{{ product[0] }}">{{ product[1] }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="quantity">Quantity:</label>
            <input type="number" name="quantity" id="quantity" required>
            <br>
            <button type="submit">Create Order</button>
        </form>
    </div>
    {% endblock %}