{% extends "manager/base_manager.php" %}

{% block title %}Dashboard - Panel Manager{% endblock %}

{% block content %}
<h1>Forecasting</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
 {% if data %}
        <h2>Data Asli</h2>
        <div>{{ data|safe }}</div>
        <h2>Produk yang Jarang Dibeli</h2>
        <div>{{ few_purchased|safe }}</div>
        <h2>Produk yang Sering Dibeli</h2>
        <div>{{ often_purchased|safe }}</div>
    {% endif %}
{% endblock %}
